# Challenge: Backtest on Other Datasets

## Download data from `yfinance`

In [26]:
import yfinance as yf
import pandas as pd

In [28]:
df_netflix: pd.DataFrame = yf.download(tickers='NFLX', start='2002-05-22') # pyright: ignore[reportAssignmentType]

/tmp/ipykernel_5961/1516907722.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_netflix: pd.DataFrame = yf.download(tickers='NFLX', start='2002-05-22') # pyright: ignore[reportAssignmentType]
[*********************100%***********************]  1 of 1 completed

In [29]:
df_netflix.columns = df_netflix.columns.droplevel(1)

In [30]:
df_netflix

Price             Close         High          Low         Open     Volume
Date
2002-05-23     1.196429     1.242857     1.145714     1.156429  104790000
2002-05-24     1.210000     1.225000     1.197143     1.214286   11104800
2002-05-28     1.157143     1.232143     1.157143     1.213571    6609400
2002-05-29     1.103571     1.164286     1.085714     1.164286    6757800
2002-05-30     1.071429     1.107857     1.071429     1.107857   10154200
...                 ...          ...          ...          ...        ...
2025-10-07  1191.060059  1201.369995  1177.459961  1177.790039    3309100
2025-10-08  1214.250000  1217.390015  1192.000000  1197.109985    2851400
2025-10-09  1231.069946  1237.500000  1211.819946  1214.250000    2824100
2025-10-10  1220.079956  1247.000000  1219.099976  1229.000000    4279800
2025-10-13  1219.030029  1231.119995  1206.810059  1221.349976    2458600

[5886 rows x 5 columns]

## Preprocess the data

### Filter the date range

- Since 1 year ago at least

### Create the target variable

#### Percentage change

- Percentage change on `Adj Close` for tomorrow

In [ ]:
df_netflix.pct_change()

#### Drop rows with any missing data

In [ ]:
df_netflix.dropna()

#### Change sign

Did the stock go up or down?

## Compute Machine Learning model

Proposal: Random Forest within `ensemble` module of `sklearn` library

In [ ]:
from sklearn.ensemble import RandomForestClassifier

## Backtesting

### Create the Strategy

In [ ]:
from backtesting import

### Run the Backtest

In [ ]:
bt = Backtest(
    ???, ???, cash=10000,
    commission=.002, exclusive_orders=True
)

### Show the report in a DataFrame

## Plot the backtest report

> Don't worry about this new tool just yet, we will explain in a future chapter how to interpret the following chart.

## How to invest based on the numerical increase?

> Instead of the direction (UP or DOWN)

Next chapter → [Backtesting with Regression Models]()

Classification Model | Regression Model
-|-
![](src/pred_classification.png) | ![](src/pred_regression.png)

Classification Strategy | Regression Strategy
-|-
![](src/res_classification.png) | ![](src/res_regression.png)